body {
    background-color: white;
    /* background-image: url("https://images5.alphacoders.com/121/thumbbig-1217672.webp"); */
    /* height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
    /* background-attachment: fixed; */

    background-image: linear-gradient(rgb(198, 196, 196),rgb(198, 196, 196),rgb(198, 196, 196),black);

    #size{
        font-size:30px;
        color:black;
    }
    #color{
        color:black;
    }
}

